/* Pretendard 프리텐다드 */
/* @font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 900;
	src: local('Pretendard Black'), local('Pretendard-Black'), url(../fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 800;
	src: local('Pretendard ExtraBold'), local('Pretendard-ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 800;
	src: local('Pretendard ExtraBold'), local('Pretendard-ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: local('Pretendard Bold'), local('Pretendard-Bold'), url(../fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: local('Pretendard SemiBold'), local('Pretendard-SemiBold'), url(../fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: local('Pretendard Medium'), local('Pretendard-Medium'), url(../fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: local('Pretendard Regular'), local('Pretendard-Regular'), url(../fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 300;
	src: local('Pretendard Light'), local('Pretendard-Light'), url(../fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 200;
	src: local('Pretendard ExtraLight'), local('Pretendard-ExtraLight'), url(../fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 100;
	src: local('Pretendard Thin'), local('Pretendard-Thin'), url(../fonts/Pretendard-Thin.woff) format('woff');
}

body {
	font-family: 'Pretendard';
} */

/* 에스코어드림 */

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
	font-weight: 900;
	font-display: swap;
}

/* body {
	font-family: 'Escoredream', sans-serif;
} */
